@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&style=italic&display=swap');

body {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 100dvh;
	background: linear-gradient(135deg, #8e44ad, #3498db);
	background-attachment: fixed;
}

#root {
	height: 100%;
}
